*.pyc
*.pyo
car/__pycache__/*
car/__pycache__/utils.cpython-37.pyc

server/OUTPUT/
server/DATASET
server/training_models/
*.DS_Store

server/VAE/samples/
server/VAE/recons/
server/VAE/vae_images/
server/VAE/gen_images/
server/SUPERVISED/output_models/