<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <script src="js/api_methods.js"></script>
            
        <title>CAR DASHBOARD</title>
    </head>
    <body>
        <div>
            <p>log dir:</p>
            <input id="log_dir_content" value="~/LOG/default"/>
            <button id="send">send</button>
            <button id="refresh">refresh</button>
        </div>
        <div>
            <p>rpi url:</p>
            <input id="rpi_url" value="http://127.0.0.1:8000"/>
        </div>
        <script src="js/main.js"></script>
    </body>
</html>